---
# Only the main Sass file needs front matter (the dashes are enough)
---

.done {
  color: #151515;
  background-color: #00aa00;
}

.done_c {
  color: #151515;
  background-color: #999900;
}

.thx {
  color: #151515;
  background-color: #00ff00;
}

.fails {
  color: #151515;
  background-color: red;
}

.ticket_transfer {
  color: #151515;
  background-color: yellow;
}

.account {
  color: #151515;
  background-color: #9eb9c7;
}

.backup {
  color: #151515;
  background-color: #009999;
}

.blocked {
  color: #151515;
  background-color: red;
}

.dns tr, .domain {
  color: #151515;
  background-color: #9398ff;
}

.fm_ftp {
  background-color: #8F0000;
  color: #f0f0f0;
}

.free {
  background-color: #A8C801;
  color: #151515;
}

.htaccess {
  background-color: #BD2047;
  color: #f0f0f0;
}

.mail {
  background-color: #CC9A00;
  color: #151515;
}

.moves {
  background-color: #F9921D;
  color: #151515;
}

.mysql {
  background-color: #5D87A1;
  color: #151515;
}

.nginx {
  background-color: #039639;
  color: #f0f0f0;
}

.payments {
  background-color: #1D744E;
  color: #151515;
}

.partner {
  background-color: #216CB4;
  color: #f0f0f0;
}

.sites {
  background-color: #0760B5;
  color: #f1f5f3;
}

.ssl {
  background-color: #559729;
  color: #151515;
}

.ok {
  background-color: #90D71C;
  color: #151515;
}

.container {
  width: 95% !important;
}

td {
  font-size: 9px;
}