---
layout: lor-page
title:  "QA"
---

<div class="qa">
    <table>
        <thead>
        <tr>
            <td>Segment</td>
            <td>Question</td>
            <td>Answer</td>
        </tr>
        </thead>

        <tbody class="{{ file.name }}">
        {% assign t_a = site.pages | where_exp: "page", "page.path contains 'beget/qa/ticket/1/'" | sort: 'question' | sort: 'section' %}
        {% for answer in t_a %}
        <tr class="{{ answer.css_class }}">
            <td>{{ answer.section }}</td>
            <td>{{ answer.question }}</td>
            <td>{{ answer.content }}</td>
        </tr>
        {% endfor %}
        </tbody>

        <tbody class="{{ file.name }}">
        {% assign t_a = site.pages | where_exp: "page", "page.path contains 'beget/qa/ticket/2/'" | sort: 'question' | sort: 'section' %}
        {% for answer in t_a %}
        <tr class="{{ answer.css_class }}">
            <td>{{ answer.section }}</td>
            <td>{{ answer.question }}</td>
            <td>{{ answer.content }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<link rel="stylesheet" type="text/css" media="screen, projection" href="/css/qa2.css"/>
<script src="/js/copy_to_clipboard.js"></script>
<script src="/js/qa.js"></script>
