<!DOCTYPE html>
<html>
<head>
    <title>QA</title>
    <meta charset="utf-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//assets.ford-rt.com/css/fonts.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="//assets.ford-rt.com/css/style.css" type="text/css" media="screen, projection"/>

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

{% include lor-head.html %}

<hr>

<div class="row-fluid  title">
    <div class="span10 container">
        <h1>{{ page.title }}</h1>
    </div>
</div>

<hr>

<div class="row-fluid  content">
    <div class="span10 container">
        {{ content }}
    </div>
</div>

<hr>

{% include lor-footer.html %}

</body>
</html>
